$border-radius: 10px;
$box-width: 400px;
$box-height: 400px;
$primary-color: #B0DAF1;
$secondary-color: #FCA1A1;
$third-color: #BCFBC9;
$box-margin: 10px;
$text-height: 20px;
$secondText-height: 10px;
$text-color: #585858;

@mixin backgroundStuff($back: $primary-color) {
    background-color: $back;
}

.boxWidget {
    border-radius: $border-radius;
    width: $box-width;
    height: $box-height;
    margin: $box-margin;
}

.colorOne {
    background-color: $primary-color;
}

.colorTwo {
    background-color: $secondary-color;
}

.colorThree {
    background-color: $third-color;
}

.invisible {
    opacity: 100%;
    
}

h4 {
    font-size: $text-height;
    margin: $box-margin;
}

h6 {
    font-size: $secondText-height;
    margin: $box-margin;
    color: $text-color;
}

