.topbar {
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.fa-search {
        padding: 10px;
    background-color:red;
}
.fa-bell {
    padding: 10px;
    background-color:rgb(156, 52, 52);
}